.medicineContainer {
    width: 800px;
    display: flex;
    h4 {
        display: flex;
        width: 50%;
        color: #fff;
        font-size: 20pt;
        margin-top: 0px;
        margin-right: 25px;
        margin-bottom: 5px;
        text-align: justify;
    }
}