input {
    border-color: #40C4FF;
    padding-left: 20px;
    height: 40px;
    border-radius: 10px;
    font-size: 15pt;
    border: 2pt solid #40C4FF;
    font-family: 'Inconsolata', monospace;
    color: #40C4FF;
}

input:focus {
    font-family: 'Inconsolata', monospace;
    outline: none;
    border: none;
    box-shadow: 0 0 2pt #40C4FF;
}

input::placeholder {
    padding-left: 10px;
    color: #40C4FF;
    font-family: 'Inconsolata', monospace;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}