header {
    width: 120px;
    min-height: 100vh;
    background-color: #40C4FF;
    img {
        width: 120px;
    }
    .iconContainer {
        display: grid;
        grid-template-rows: 100% 540%;
        justify-content: center;
        div {
            a {
                img {
                    width: 50px;
                }
            }
        }
    }
}