header {
    width: 120px;
    min-height: 100vh;
    background-color: #40C4FF;
    img {
        width: 120px;
    }
    .iconContainer {
        display: grid;
        grid-template-rows: 80% 320% 50% 20%;
        justify-content: center;
        div {
            a {
                 :hover {
                    cursor: pointer;
                }
                img {
                    width: 50px;
                }
            }
        }
    }
}