.viewContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.generalContent {
    width: 100%;
    height: 100%;
    display: flex;
    .leftContent {
        width: 50%;
        height: 100%;
        margin-left: 10px;
        margin-top: 50px;
        .locationContent {
            h1 {
                color: #40C4FF;
                font-family: 'Azeret Mono', monospace;
                font-size: 30pt;
            }
        }
        .profileContent {
            margin-top: 60px;
            h1 {
                color: #40C4FF;
                font-family: 'Azeret Mono', monospace;
                font-size: 30pt;
            }
            .patientContent {
                width: auto;
                height: 650px;
                background-color: #40C4FF;
                border-radius: 15px;
                margin-right: 5px;
                .photoInfoContainer {
                    display: flex;
                    .imgContainer {
                        img {
                            width: 250px;
                            margin: 10px 0px 0px 10px;
                        }
                    }
                    .infoContainer {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-left: 15px;
                        margin-top: 20px;
                        h2 {
                            font-family: 'Azeret Mono', monospace;
                            color: #fff;
                            font-size: 25pt;
                            margin: 15px;
                        }
                        .ageGnreContainer {
                            display: grid;
                            grid-template-columns: 50% 50%;
                        }
                    }
                }
                .generalContainerMedicine {
                    width: 58%;
                    height: auto;
                    background-color: #40C4FF;
                    margin-left: 10px;
                    .titleMedicine {
                        h2 {
                            color: #fff;
                            margin-left: 10px;
                            font-size: 25pt;
                            font-family: 'Inconsolata', monospace;
                        }
                    }
                    .headerMedice {
                        display: flex;
                        justify-content: space-between;
                        width: 800px;
                        h4 {
                            color: #fff;
                            margin: 0;
                            margin-right: 50px;
                            font-size: 15pt;
                            font-family: 'Azeret Mono', monospace;
                        }
                    }
                    .scrolling {
                        display: flex;
                        flex-direction: column;
                        flex: auto;
                        overflow-y: scroll;
                        width: 170%;
                        height: 150px;
                    }
                }
                .buttonsContainer {
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    .buttonDash {
                        width: 150px;
                        height: 50px;
                        font-size: 20px;
                        border-radius: 10px;
                        background-color: #01579B;
                        color: #fff;
                        border: none;
                        grid-column: 3;
                        grid-row: 2;
                    }
                    .buttonAdd {
                        width: 150px;
                        height: 50px;
                        font-size: 20px;
                        border-radius: 10px;
                        background-color: #01579B;
                        color: #fff;
                        border: none;
                        grid-column: 3;
                        grid-row: 2;
                        margin-right: 5px;
                    }
                    .buttonEdit {
                        width: 150px;
                        height: 50px;
                        font-size: 20px;
                        border-radius: 10px;
                        background-color: #01579B;
                        color: #fff;
                        border: none;
                        grid-column: 3;
                        grid-row: 2;
                    }
                    Button:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .rightContent {
        display: block;
        width: 50%;
        height: 100%;
        .right {
            width: 100%;
            height: 100vh;
        }
    }
}